.custom-day {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
}

.custom-day.disabled{
	color: rgb(200, 200, 200);
}

.custom-day.range, .custom-day:hover:not(.disabled){
	background-color: rgb(2, 117, 216);
	color: white;
}

.custom-day.faded {
	background-color: rgba(2, 117, 216, 0.5);
}

.custom-modal .modal-content{
	height:100%;
	background-color: #292b2c;
	 z-index: 555;
}

.modal-backdrop {
  z-index: 555;
}