<h3 *ngIf="toDate && fromDate" class="mb-3">
	Lending period: <strong>{{fromDate|ngbDate|dateString|date:'longDate'}}
		- {{toDate|ngbDate|dateString|date:'longDate'}}</strong>
</h3>
<h3 *ngIf="!toDate || !fromDate" class="mb-3">Choose
	lending period</h3>
<ngb-datepicker #dp (select)="onDateSelection($event)"
	[displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
	[markDisabled]="markDisabled"></ngb-datepicker>

<ng-template #t let-date="date" let-focused="focused"
	let-disabled="disabled"> <span class="custom-day"
	[class.focused]="focused && !disabled" [class.disabled]="disabled"
	[class.range]="isRange(date) && !disabled && !isOutOfBounds(date)"
	[class.faded]="(isHovered(date) || isInside(date)) && !disabled && !isOutOfBounds(date)"
	(mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
	{{ date.day}} </span> </ng-template>
<div class="mt-2">
	<button type="button" class="btn btn-success"
		[disabled]="!fromDate || !toDate" (click)="addLentBook()">Confirm</button>
</div>