<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark mb-3">
	<div class="d-lg-none">
		<div class="dropdown show">
			<a class="navbar-toggler-icon" href="#" role="button"
				id="dropdownMenuLink" data-toggle="dropdown"></a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<div *roles="['role_admin']; loggedIn: loggedIn">
					<a class="dropdown-item" routerLink="view-users">Users</a> <a
						class="dropdown-item" routerLink="view-libraries">Libraries</a>
					<div class="dropdown-divider"></div>
				</div>
				<div *roles="['role_employee']; loggedIn: loggedIn">
					<a class="dropdown-item" routerLink="view-books">Books</a> <a
						class="dropdown-item" routerLink="view-lending-history">Lending
						history</a> <a class="dropdown-item" routerLink="view-wait-list">Wait
						list</a>
					<div class="dropdown-divider"></div>
				</div>
				<a class="dropdown-item" routerLink="view-ratings/all">Books</a> <a
					*roles="['role_user']; loggedIn: loggedIn" class="dropdown-item"
					routerLink="user-profile/account">My profile</a> <a
					class="dropdown-item" routerLink="view-library-locations">Locations</a>
				<a  class="dropdown-item" style="cursor: pointer"
					(click)="open()" *ngIf="!loggedIn">Login</a> <a *ngIf="loggedIn"
					style="cursor: pointer" class="dropdown-item" (click)="logout()">Log
					out</a> <a class="dropdown-item" *ngIf="!loggedIn"
					routerLink="create-account">Create account</a>
			</div>
		</div>
	</div>
	<ul class="navbar-nav mr-auto d-none d-lg-block">
		<div class="container">
			<div class="row">
				<li class="nav-item"><a class="navbar-brand" routerLink="">Index</a>
				</li>
				<ng-container *ngIf="asAdmin"> 
					<ng-container *roles="['role_admin']; loggedIn: loggedIn">
						<li class="nav-item"><a class="nav-link"
							routerLink="view-users" routerLinkActive="active">Users</a></li>
					</ng-container>
	                <ng-container *roles="['role_employee']; loggedIn: loggedIn">
						<li class="nav-item"><a class="nav-link"
							routerLink="view-libraries" routerLinkActive="active">Libraries</a></li>
						<li class="nav-item"><a class="nav-link"
							routerLink="view-books" routerLinkActive="active">Books</a></li>
						<li class="nav-item"><a class="nav-link"
							routerLink="view-lending-history" routerLinkActive="active">Lending
								history</a></li>
						<li class="nav-item"><a class="nav-link"
							routerLink="view-book-wait-list" routerLinkActive="active">Wait
								list</a></li>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="!asAdmin">
					<li class="nav-item"><a class="nav-link"
						routerLink="view-ratings" routerLinkActive="active">Books</a></li>
					<li class="nav-item"><a class="nav-link"
						routerLinkActive="active" routerLink="view-library-locations">Locations</a></li>
					<ng-container *roles="['role_user']; loggedIn: loggedIn">
						<li class="nav-item"><a routerLinkActive="active"
							*roles="['role_admin','role_employee','role_user']; loggedIn: loggedIn"
							class="nav-link" routerLink="user-profile">My profile</a></li>
					</ng-container> 
				</ng-container>
				<li class="nav-item"><a *ngIf="!loggedIn" class="nav-link"
					style="cursor: pointer" (click)="open()">Login</a></li>
				<li class="nav-item"><a
					*ngIf="loggedIn"
					style="cursor: pointer" class="nav-link" (click)="logout()">Log
						out</a></li>
				<li class="nav-item"><a class="nav-item nav-link"
					*ngIf="!loggedIn" routerLink="create-account">Create account</a></li>
			</div>
		</div>
	</ul>
	<ul class="navbar-nav ml-auto mr-5">
		<div class="row">
			<li class="nav-item mr-3"><a class="nav-link"
				style="cursor: pointer" (click)="asAdmin = !asAdmin" 
				*roles="['role_admin','role_employee']; loggedIn: loggedIn">{{asAdmin ? 'Admin' :
					'User'}}</a></li>
			<div ngbDropdown placement="bottom-right">
				<button class="btn btn-outline-secondary float-right mr-2"
					style="cursor: pointer" id="notificationDropdown" ngbDropdownToggle>
					{{languages[language]}}</button>
				<div ngbDropdownMenu aria-labelledby="notificationDropdown">
					<button ngbDropdownItem (click)="changeLanguage('et_EE')">{{languages['et_EE']}}
					</button>
					<button ngbDropdownItem (click)="changeLanguage('en_US')">{{languages['en_US']}}
					</button>
				</div>
			</div>
			<div ngbDropdown (openChange)=markNotificationsAsSeen($event)
				display="dynamic" placement="bottom-right"
				*roles="['role_admin','role_employee','role_user']; loggedIn: loggedIn">
				<fa-icon [icon]="faEnvelope"
					class="btn btn-outline-secondary float-right text-white"
					[@notification]="notificationCount ? 'notifications' : 'noNotifications'"
					style="cursor: pointer" id="notificationDropdown" ngbDropdownToggle></fa-icon>
				<div ngbDropdownMenu aria-labelledby="notificationDropdown">
					<button ngbDropdownItem
						*ngIf="!notifications || notifications.length==0">No
						messages</button>
					<div *ngIf="notifications && notifications.length!=0">
						<button ngbDropdownItem class="mb-1"
							(click)="navigateToRoute(notification)"
							*ngFor="let notification of notifications | slice:0:notificationsShown; trackBy: trackByNotification"
							[style.color]="notification.read  ? 'black' : 'crimson'">{{notification.message
							| shorten:0:70}}</button>
						<button ngbDropdownItem
							[ngClass]="notificationCount<=notificationsShown ? '' : 'text-danger'"
							routerLink="/user-profile/notifications">See all
							{{notificationCount<=notificationsShown ? '' :
							('('+notificationCount +' new)')}}</button>
					</div>
				</div>
			</div>
		</div>
	</ul>
</nav>
