<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th *ngIf="!bookPage">Book</th>
				<th>Book copy ID</th>
				<th style="width: 15%">Available</th>
				<th style="width: 15%">Library</th>
				<th>Bought</th>
				<th colspan="2"><div class="col">
						<div class="float-right">
							<span *ngFor="let pageSizeOption of pageSizeOptions">
								<button (click)="changePageSizeOption(pageSizeOption)"
									[class.btn-warning]="pageSizeOption == pageInformation.pageSize"
									[disabled]="pageSizeOption == pageInformation.pageSize"
									[class.btn-secondary]="pageSizeOption !== pageInformation.pageSize"
									class="btn mr-2">{{pageSizeOption}}</button>
							</span>
						</div>
					</div></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let bookCopy of bookCopies; trackBy: trackByBookCopy"
				appHighlightElement>
				<td *ngIf="!bookPage"><a
					routerLink="/view-books/update-book/{{ bookCopy.book?.isbn }}">{{
						bookCopy.book.isbn }}</a></td>
				<td>{{ bookCopy.bookId }}</td>
				<td>
					<button class="btn btn-block"
						[ngClass]="bookCopy.available ? 'btn-success' : 'btn-danger'"
						(click)="bookCopy.available=!bookCopy.available">{{bookAvailabilityMap[bookCopy.available]}}
					</button>
				</td>
				<td><select class="form-control custom-select"
					[(ngModel)]="bookCopy.library"
					[compareWith]="getLibraryService().compareLibraries">
						<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
				</select></td>
				<td>{{ bookCopy.bought | date }}</td>
				<td>
					<button (click)="updateBookCopy(bookCopy)"
						class="btn btn-primary btn-block mr-sm-0 mr-md-2 mb-sm-1 mb-md-0">Update
					</button>

				</td>
				<td>
					<button (click)="deleteBookCopy(bookCopy)"
						class="btn btn-danger btn-block">Delete</button>
				</td>
			</tr>
			<tr *ngIf="!bookCopies || bookCopies.length === 0">
				<td colspan="7" class="text-center table-light h5">No results
					found</td>
			</tr>
		</tbody>
	</table>
	<div class="row justify-content-center"
		*ngIf="bookCopies && bookCopies.length > 0">
		<ngb-pagination [collectionSize]=bookCopyCount
			[(page)]=pageInformation.pageNumber
			[pageSize]=pageInformation.pageSize (pageChange)="getBookCopies()"
			[boundaryLinks]="true"></ngb-pagination>
	</div>
</div>