<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Book deletion</h4>
  <button type="button" class="close" aria-label="Close button"
          aria-describedby="modal-title" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong>Are you sure you want to delete the book with the title <span
      class="text-primary">{{updatedBook.bookTitle}}</span>
      and ISBN <span class="text-primary">{{updatedBook.isbn}}</span>?
    </strong>
  </p>
  <p>
    All information associated to this book will be permanently
    deleted. <span class="text-danger">This operation can not be
			undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="close()">Cancel
  </button>
  <button type="button" ngbAutofocus class="btn btn-danger"
          (click)="deleteBook()">Delete
  </button>
</div>
