<a class="card mb-2" style="cursor: pointer" *ngIf="book">
	<div class="card-body bg-light" routerLink="book/{{ book.isbn }}">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-3">
				<div *ngIf="!book.imageUrl">No image available</div>
				<div *ngIf="book.imageUrl">
					<img [src]="book.imageUrl" alt="{{book.bookTitle}}"
						class="img-fluid">
				</div>
			</div>
			<div class="col-lg-8 col-md-6 col-sm-6 col-6 d-flex flex-column">
				<h5 class="card-title d-none d-md-block">{{book.bookTitle |
					shorten:0:125}}</h5>
				<h6 class="card-title d-md-none">{{book.bookTitle |
					shorten:0:50}}</h6>
				<h6 class="card-subtitle mb-2 text-muted">{{ book.bookAuthor }}</h6>
				<p class="card-text">{{book.publicationYear}}</p>
				<div class="mt-auto">
					<button
						class="btn btn-block text-white col-lg-3 col-md-5 col-sm-8 col-8 d-md-block d-none"
						[ngClass]="book.available ? 'btn-success' : 'btn-danger'"
						style="pointer-events: none">{{bookAvailabilityMap[(book.available
						? 'true' : 'false')]}}</button>
					<button
						class="btn btn-block btn-sm text-white col-lg-3 col-md-5 col-sm-8 col-8 d-sm-none"
						[ngClass]="book.available ? 'btn-success' : 'btn-danger'"
						style="pointer-events: none">{{bookAvailabilityMap[(book.available
						? 'true' : 'false')]}}</button>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-3 col-3 mt-5">
				<div class="d-none d-md-block">
					<p class="text-right">
						<strong class="h1"
							[ngClass]="book.averageRating>=5 ? 'text-success' : 'text-danger'">
							{{book.averageRating ? (book.averageRating|number:'1.1-1') : ''}}</strong>
						<span [ngClass]="!book.averageRating ? 'h4' : 'h6'">{{book.averageRating
							? '/10' : 'No ratings'}}</span>
					</p>
				</div>
				<div class="d-md-none">
					<p class="text-right">
						<strong class="h3"
							[ngClass]="book.averageRating>=5 ? 'text-success' : 'text-danger'">
							{{book.averageRating ? (book.averageRating|number:'1.1-1') : ''}}</strong>
						<span [ngClass]="!book.averageRating ? 'h5' : 'h6'">{{book.averageRating
							? '/10' : 'No ratings'}}</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</a>
