<div class="container">
	<app-user-form [user]="user" [adminForm]="true" [roleList]="roleList"
		[libraries]="libraries" [id]="id" (saveUserEvent)="saveUser($event)"
		(deleteUserEvent)="onDeleteUser($event)"></app-user-form>
</div>
