<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Password change</h4>
  <button type="button" class="close" aria-label="Close button"
          aria-describedby="modal-title" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to change your password?
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="close()">Cancel
  </button>
  <button type="button" ngbAutofocus class="btn btn-danger"
          (click)="changePassword()">Change password
  </button>
</div>
