<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Reservation status update</h4>
  <button type="button" class="close" aria-label="Close button"
          aria-describedby="modal-title" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong>Are you sure you want to change the
      reservation status for the book titled <span class="text-primary">{{book.bookCopy.book.bookTitle}}</span>,
      ISBN <span class="text-primary">{{book.bookCopy.book.isbn}}</span>, for the user <span
        class="text-primary">{{book.user.email}}</span>, for the period <span
        class="text-primary">{{book.fromDate}}-{{book.toDate}}</span>,
      from <span class="text-primary">{{book.bookLendingStatus}}</span>
      to <span class="text-primary"
               *ngIf="book.bookLendingStatus=='BOOK_RESERVED'">ACTIVE</span>
      <span class="text-primary"
            *ngIf="book.bookLendingStatus=='ACTIVE'">BOOK_RETURNED</span>?
    </strong>
  </p>
  <p>
		<span class="text-danger">This operation can not be
			undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="close()">Cancel
  </button>
  <button type="button" ngbAutofocus class="btn btn-danger"
          (click)="updateLentBookStatus()">Update
  </button>
</div>
