<div class="col-12">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Login</h4>
		<button type="button" class="close" aria-label="Close button"
			aria-describedby="modal-title" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ngb-alert [type]="'danger'" *ngIf="alert" (close)="alert = false">{{alertMessage}}
		</ngb-alert>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group col-8 offset-2">
				<label for="email">Email:</label>
				<div class="row">
					<div class="col-12">
						<input type="text" ngbAutofocus class="form-control"
							[@validForm]="email?.invalid ? ((email?.dirty || email?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
							formControlName="email" id="email" autocomplete="off">
					</div>
					<app-input-validation-error
						[condition]="email?.invalid && (email?.dirty || email?.touched)">
					<div *ngIf="email.errors?.required">Email is required.</div>
					<div *ngIf="email.errors?.email">Must be a valid email.</div>
					</app-input-validation-error>
				</div>
			</div>
			<div class="form-group col-8 offset-2">
				<label for="pwd">Password:</label>
				<div class="row">
					<div class="col-12">
						<input type="password" class="form-control"
							[@validForm]="password?.invalid ? ((password?.dirty || password?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
							formControlName="password" id="pwd" autocomplete="off">
					</div>
					<app-input-validation-error
						[condition]="password?.invalid && (password?.dirty || password?.touched)">
					<div *ngIf="password.errors?.required">Password is required.</div>
					</app-input-validation-error>
				</div>
			</div>
			<div class="form-group col-8 offset-2">
				<button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
			</div>
		</form>
		<div class="modal-footer">
			<button class="btn btn-secondary text-white"
				(click)="createAccount()">Create account</button>
		</div>
	</div>
</div>