<div class="container-fluid">
	<div class="col-12">
		<div class="row mb-2">
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
					<input id="typeahead-template" type="text" placeholder="Find user"
						class="form-control" [(ngModel)]="userModel" (keyup.enter)="filterUsers($event)" 
						[ngbTypeahead]="search" [resultFormatter]="resultFormatter"
						[inputFormatter]="inputFormatter" [focusFirst]="false"
						(selectItem)="filterUsers($event)" />
				</div>
				<button routerLink="add-user" class="btn btn-primary">Add
					user</button>
		</div>
	</div>
	<app-user-table [userCount]="userCount"
		(getDataEvent)="getUsers($event)" [users]="users"></app-user-table>
</div>
