<div class="modal-header">
	<h4 class="modal-title" id="modal-title">Reservation cancellation</h4>
	<button type="button" class="close" aria-label="Close button"
		aria-describedby="modal-title" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p>
		<strong>Are you sure you want to cancel the reservation of
			book <span class="text-primary">{{lentBook.bookCopy.book.bookTitle}}</span>
			for <span class="text-primary">{{lentBook.fromDate}}-{{lentBook.toDate}}</span><span
			*ngIf="user"> for the user </span><span class="text-primary"
			*ngIf="user">{{user.email}}</span>?
		</strong>
	</p>
	<p>
		<span class="text-danger">This operation can not be undone.</span>
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary"
		(click)="close()">Close</button>
	<button type="button" ngbAutofocus class="btn btn-danger"
		(click)="cancelBookLending()">Cancel</button>
</div>
