<div class="accordion" id="accountInformation">
	<div class="card">
		<div class="card-header" id="accountHeading">
			<h2 class="mb-0">
				<button class="btn btn-link" type="button" data-toggle="collapse"
					data-target="#accountCollapse" aria-expanded="true"
					aria-controls="accountCollapse">User Information</button>
			</h2>
		</div>
		<div id="accountCollapse" class="collapse show"
			aria-labelledby="accountHeading" data-parent="#accountInformation">
			<div class="card-body">
				<div class="col-12">
					<app-user-form [user]="user" [userProfileForm]=true
						[roleList]="roleList" [libraries]="libraries"
						(saveUserEvent)="onSaveUser($event)"></app-user-form>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="passwordHeading">
			<h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button"
					data-toggle="collapse" data-target="#passwordCollapse"
					aria-expanded="false" aria-controls="passwordCollapse">Password</button>
			</h2>
		</div>
		<div id="passwordCollapse" class="collapse"
			aria-labelledby="passwordHeading" data-parent="#accountInformation">
			<div class="card-body">
				<app-password-form (changePasswordEvent)="onChangePassword($event)"></app-password-form>
			</div>
		</div>
	</div>
</div>
