<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="row col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12 mb-2">
				<div class="col-6">
					<input id="typeahead-template" type="text" placeholder="Find book"
						class="form-control" [(ngModel)]="book" [ngbTypeahead]="search"
						(keyup.enter)="filterBooks($event)"
						[resultFormatter]="resultFormatter"
						[inputFormatter]="inputFormatter" [focusFirst]="false"
						(selectItem)="filterBooks($event)" />

				</div>
				<a routerLink="add-book" class="btn btn-primary">Add book</a>
			</div>
			<app-book-table [bookCount]="bookCount"
				(getDataEvent)="getBooks($event)" [books]="books">
			</app-book-table>
		</div>
	</div>
</div>
