<table class="table table-striped">
	<thead>
		<tr>
			<th>User</th>
			<th>Book</th>
			<th>Book copy ID</th>
			<th>Status</th>
			<th>Start</th>
			<th>End</th>
			<th>Library</th>
			<th colspan="2"><div class="float-right">
					<span *ngFor="let pageSizeOption of pageSizeOptions">
						<button (click)="changePageSizeOption(pageSizeOption)"
							[class.btn-warning]="pageSizeOption == pageInformation.pageSize"
							[disabled]="pageSizeOption == pageInformation.pageSize"
							[class.btn-secondary]="pageSizeOption !== pageInformation.pageSize"
							class="btn mr-2">{{pageSizeOption}}</button>
					</span>
				</div></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let lentBook of lentBooks; trackBy: trackByLentBook"
			appHighlightElement>
			<td><a
				routerLink="/view-users/update-user/{{ lentBook.user.userId }}">{{
					lentBook.user.email }}</a></td>
			<td><a
				routerLink="/view-books/update-book/{{ lentBook.bookCopy.book.isbn }}">{{
					lentBook.bookCopy.book.isbn }}</a></td>
			<td>{{ lentBook.bookCopy.bookId }}</td>
			<td>{{ lendingStatuses[lentBook.lendingStatus] }}</td>
			<td>{{ lentBook.fromDate }}</td>
			<td>{{ lentBook.toDate }}</td>
			<td><a
				routerLink="/view-libraries/update-library/{{ lentBook.library.libraryId }}">{{
					lentBook.library.address }}</a></td>
			<ng-container [ngSwitch]="lentBook.lendingStatus">
			<td><div class="row">
					<div class="col-5">
						<button *ngSwitchCase="'BOOK_RESERVED'"
							class="btn btn-success btn-block"
							(click)="updateLendingStatus(lentBook)">Activate
							reservation</button>
						<button *ngSwitchCase="'ACTIVE'" class="btn btn-success btn-block"
							(click)="updateLendingStatus(lentBook)">Book returned</button>
					</div>
					<div class="col-5">
						<button class="btn btn-danger btn-block"
							*ngSwitchCase="'BOOK_RESERVED'"
							(click)="cancelBookLending(lentBook)">Cancel reservation</button>
					</div>
				</div></td>
			</ng-container>
		</tr>
		<tr *ngIf="!lentBooks || lentBooks.length === 0">
			<td colspan="8" class="text-center table-light h5">No results
				found</td>
		</tr>
	</tbody>
</table>
<div class="mt-2 row justify-content-center"
	*ngIf="lentBooks && lentBooks.length > 0">
	<ngb-pagination [collectionSize]=lentBookCount
		[(page)]=pageInformation.pageNumber (pageChange)="getLentBooks()"
		[pageSize]=pageInformation.pageSize [boundaryLinks]="true"></ngb-pagination>
</div>