<form [formGroup]="libraryForm" (ngSubmit)="saveLibrary()">
	<div class="card-body">
		<div class="container">
			<div
				class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
				<label for="address">Address</label>
				<div class="row">
					<div class="col-12">
						<input id="address" formControlName="address"
							[@validForm]="address?.invalid ? ((address?.dirty || address?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
							class="form-control" />
					</div>
					<app-input-validation-error
						[condition]="address?.invalid && (address?.dirty || address?.touched)">
					<div *ngIf="address.errors?.required">Address is required</div>
					<div *ngIf="address.errors?.maxlength">Length must be shorter
						than 50</div>
					</app-input-validation-error>
				</div>
			</div>
			<div
				class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
				<label for="latitude">Latitude</label>
				<div class="row">
					<div class="col-12">
						<input id="latitude" formControlName="latitude"
							[@validForm]="latitude?.invalid ? ((latitude?.dirty || latitude?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
							class="form-control" />

					</div>
					<app-input-validation-error
						[condition]="latitude?.invalid && (latitude?.dirty || latitude?.touched)">
					<div *ngIf="latitude.errors?.required">Latitude is required</div>
					<div *ngIf="latitude.errors?.pattern">Must be number</div>
					</app-input-validation-error>
				</div>
			</div>
			<div
				class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
				<label for="longitude">Longitude</label>
				<div class="row">
					<div class="col-12">
						<input id="longitude" formControlName="longitude"
							[@validForm]="longitude?.invalid ? ((longitude?.dirty || longitude?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
							class="form-control" />
					</div>
					<app-input-validation-error
						[condition]="longitude?.invalid && (longitude?.dirty || longitude?.touched)">
					<div *ngIf="longitude.errors?.required">Longitude is required</div>
					<div *ngIf="longitude.errors?.pattern">Must be number</div>
					</app-input-validation-error>
				</div>
			</div>
			<div
				class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
				<div class="row mb-2">
					<div class="col-5">
						<label for="openingTime">Opening time</label>
						<ngb-timepicker formControlName="openingTime" [seconds]="false"
							[spinners]="false" size="small" id="openingTime" [hourStep]="1"
							[minuteStep]="15"></ngb-timepicker>
					</div>
					<div class="col-5">
						<label for="closingTime">Closing time</label>
						<ngb-timepicker formControlName="closingTime" [seconds]="false"
							[spinners]="false" size="small" id="closingTime" [hourStep]="1"
							[minuteStep]="15"></ngb-timepicker>
					</div>
				</div>
			</div>
			<div
				class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
				<div class="row">
					<div class="col">
						<button type="submit" class="btn btn-primary mr-2"
							[disabled]="libraryForm.invalid || !isAdmin">Save
							library</button>
						<button (click)="deleteLibrary()" class="btn btn-danger" type="button"
							*ngIf="id" [disabled]="!isAdmin">Delete library</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>