<form [formGroup]="userForm" (ngSubmit)="saveUser()">
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="email">Email</label>
		<div class="row">
			<div class="col-12">
				<input id="email" formControlName="email" class="form-control"
					[@validForm]="email?.invalid ? ((email?.dirty || email?.touched) ? 'invalid' : 'notTouched' ) : 'valid'" />
			</div>
			<app-input-validation-error
				[condition]="email?.invalid && (email?.dirty || email?.touched)">
			<div *ngIf="email.errors?.required">Email is required.</div>
			<div *ngIf="email.errors?.email">Must be a valid email.</div>
			<div *ngIf="email.errors?.emailTaken">Email already taken.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1"
		*ngIf="(!id && adminForm) || createAccountForm ">
		<label for="password">Password</label>
		<div class="row">
			<div class="col-12">
				<input id="password" formControlName="password"
					[@validForm]="password?.invalid ? ((password?.dirty || password?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="password?.invalid && (password?.dirty || password?.touched)">
			<div *ngIf="password.errors?.required">Password is required.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1"
		*ngIf="createAccountForm">
		<label for="confirmPassword">Confirm password</label>
		<div class="row">
			<div class="col-12">
				<input id="confirmPassword" formControlName="confirmPassword"
					[@validForm]="confirmPassword?.invalid || userForm.errors?.invalid ? ((confirmPassword?.dirty || confirmPassword?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="(confirmPassword?.invalid || (!confirmPassword?.invalid && userForm.errors?.invalid)) && (confirmPassword?.dirty || confirmPassword?.touched)">
			<div *ngIf="!confirmPassword?.invalid && userForm.errors?.invalid">Passwords
				must match.</div>
			<div *ngIf="confirmPassword.errors?.required">Password is
				required.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="alias">Alias</label>
		<div class="row">
			<div class="col-12">
				<input id="alias" formControlName="alias"
					[@validForm]="alias?.invalid ? ((alias?.dirty || alias?.touched) ? 'invalid' : 'notTouched' )  : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="alias?.invalid && (alias?.dirty || alias?.touched)">
			<div *ngIf="alias.errors?.required">Alias is required.</div>
			<div *ngIf="alias.errors?.aliasTaken">Alias already taken.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="firstName">First name</label>
		<div class="row">
			<div class="col-12">
				<input id="firstName" formControlName="firstName"
					[@validForm]="firstName?.invalid ? ((firstName?.dirty || firstName?.touched) ? 'invalid' : 'notTouched' )  : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
			<div *ngIf="firstName.errors?.required">First name is required.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="lastName">Last name</label>
		<div class="row">
			<div class="col-12">
				<input id="lastName" formControlName="lastName"
					[@validForm]="lastName?.invalid ? ((lastName?.dirty || lastName?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
			<div *ngIf="lastName.errors?.required">Last name is required.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-3 offset-md-2 offset-sm-2 offset-1 mb-3">
		<label for="preferredLibrary">Preferred library</label> <select
			class="form-control custom-select" formControlName="preferredLibrary">
			<option [ngValue]=null>Any library</option>
			<option [ngValue]=library.libraryId *ngFor="let library of libraries">{{library.address}}</option>
		</select>
	</div>
	<div formGroupName="birthday" 
		class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-3 offset-md-2 offset-sm-2 offset-1">
		<h5>Birthday</h5>
		<div class="form-group ">
			<label for="year">Year </label> <select
				class="form-control custom-select" (change)="generateDayList()"
				formControlName="year">
				<option [value]=year *ngFor="let year of yearList">{{year}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="month">Month </label> <select
				class="form-control custom-select" (change)="generateDayList()"
				formControlName="month">
				<option [value]=month *ngFor="let month of monthList">{{month+'-1'|date:'MMMM'}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="day">Day </label> <select
				class="form-control custom-select" formControlName="day">
				<option [value]=day *ngFor="let day of dayList">{{day}}</option>
			</select>
		</div>
	</div>
	<div *ngIf="adminForm"
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<div ngbDropdown [autoClose]="'outside'">
			<button class="btn btn-outline-secondary" id="roleDropdown"
				type="button" ngbDropdownToggle>User roles</button>
			<div ngbDropdownMenu aria-labelledby="roleDropdown"
				formArrayName="roles">
				<div *ngFor="let role of roles.controls; let i=index" class="col-12">
					<input ngbDropdownItem type="button" id="{{'Id'+i}}"
						[formControlName]="i" hidden type="checkbox" /> <label
						style="cursor: pointer" for="{{'Id'+i}}" class="d-flex"><span
						class="mr-4">{{roleList[i].name}}</span> <fa-icon [icon]="faCheck"
							[ngClass]="roles.controls[i].value ? 'text-success' : 'text-white'"
							class="ml-auto text-white"></fa-icon> </label>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<div class="row">
			<div class="col-5">
				<button type="submit" class="btn btn-primary btn-block"
					[disabled]="userForm.invalid">Save</button>
			</div>
			<div class="col-5">
				<button (click)="deleteUser()" class="btn btn-danger btn-block"
					type="button" *ngIf="id">Delete user</button>
			</div>
		</div>
	</div>
</form>