<div class="col-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ISBN</th>
				<th>Book title</th>
				<th>Book author</th>
				<th>Year of publication</th>
				<th>Publisher</th>
				<th style="width: 15%" colspan="2"><div
						class="d-flex flex-column">
						<div class="ml-auto">
							<span *ngFor="let pageSizeOption of pageSizeOptions">
								<button (click)="changePageSizeOption(pageSizeOption)"
									[class.btn-warning]="pageSizeOption == pageInformation.pageSize"
									[disabled]="pageSizeOption == pageInformation.pageSize"
									[class.btn-secondary]="pageSizeOption !== pageInformation.pageSize"
									class="btn mr-2">{{pageSizeOption}}</button>
							</span>
						</div>
					</div></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let book of books; trackBy: trackByBook"
				appHighlightElement>
				<td><a routerLink="/view-ratings/book/{{ book.isbn }}">{{
						book.isbn }}</a></td>
				<td>{{ book.bookTitle }}</td>
				<td>{{ book.bookAuthor }}</td>
				<td>{{ book.publicationYear }}</td>
				<td>{{ book.publisher }}</td>
				<td>
					<button routerLink="update-book/{{ book.isbn }}"
						class="btn btn-primary">Update book</button>
				</td>
			</tr>
			<tr *ngIf="!books || books.length === 0">
				<td colspan="6" class="text-center table-light h5">No results
					found</td>
			</tr>
		</tbody>
	</table>
	<div class="mt-2 row justify-content-center"
		*ngIf="books && books.length > 0">
		<ngb-pagination [collectionSize]=bookCount
			[(page)]=pageInformation.pageNumber
			[pageSize]=pageInformation.pageSize (pageChange)="getBooks()"
			[boundaryLinks]="true"></ngb-pagination>
	</div>
</div>