<ngb-toast *ngFor="let alert of alertService.alerts" (click)="alertService.remove(alert)"
           [class]="alert.classname" [autohide]="true" [@fadeInOut] style="cursor: pointer;"
           [delay]="alert.delay || 5000" (hide)="alertService.remove(alert)">
  <ng-template [ngIf]="isTemplate(alert)" [ngIfElse]="text">
    <ng-template [ngTemplateOutlet]="alert.textOrTpl"></ng-template>
  </ng-template>
  <ng-template
    #text>{{ alert.textOrTpl }}
  </ng-template>
</ngb-toast>
