<div class="mt-2">
	<div class="float-right">
		<span *ngFor="let pageSizeOption of pageSizeOptions">
			<button (click)="changePageSizeOption(pageSizeOption)"
				[class.btn-warning]="pageSizeOption == pageSize"
				[disabled]="pageSizeOption == pageSize"
				[class.btn-secondary]="pageSizeOption !== pageSize" class="btn mr-2">{{pageSizeOption}}</button>
		</span>
	</div>
	<p>
		<button type="button" class="btn btn-outline-primary"
			(click)="isCollapsed = !isCollapsed"
			[attr.aria-expanded]="!isCollapsed" aria-controls="collapse">
			Filter lent books
			<fa-icon [icon]="faCaretDown"></fa-icon>
		</button>
	</p>
</div>
<div id="collapse" class="mb-2"
	[@smoothCollapse]="{value: (isCollapsed ? 'initial' : 'final'), params: {overflow: 'visible'}}">
	<div class="card col-lg col-md-7">
		<div class="card-body">
			<div class="row">
				<div class="col-lg col-md-12 mr-lg-4 mr-0">
					<h5>Find books</h5>
					<div class="form-group">
						<input id="typeahead-template" type="text" placeholder="Find book"
							class="form-control" [(ngModel)]="bookModel"
							[ngbTypeahead]="searchLentBooks"
							(input)="changeSearchPhrase($event)"
							[resultFormatter]="resultFormatter"
							[inputFormatter]="inputFormatter" [focusFirst]="false"
							(selectItem)="changeSearchPhrase($event)" />
					</div>
					<div class="mt-3">
						<h5>Lending status</h5>
						<select class="form-control custom-select"
							[(ngModel)]="lendingStatus">
							<option [ngValue]=null>Any</option>
							<option [ngValue]=item *ngFor="let item of lendingStatuses">{{bookLendingStatuses[item]}}</option>
						</select>
					</div>
				</div>
				<div class="col-lg col-md-12 mr-lg-4 mr-0 mt-md-0 mt-3">
					<h5>Start date</h5>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="dd-mm-yyyy" name="dp"
								[(ngModel)]="fromDate" ngbDatepicker #dp="ngbDatepicker">
							<div class="input-group-append">
								<button #buttonEl class="btn btn-outline-secondary calendar"
									(click)="dp.toggle()" type="button"></button>
							</div>
						</div>
					</div>
					<div class="mt-2">
						<h5>End date</h5>
						<div class="form-group">
							<div class="input-group">
								<input class="form-control" placeholder="dd-mm-yyyy" name="d"
									[(ngModel)]="toDate" ngbDatepicker #d="ngbDatepicker">
								<div class="input-group-append">
									<button #buttonEl class="btn btn-outline-secondary calendar"
										(click)="d.toggle()" type="button"></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg col-md-12 mt-md-0 mt-1 d-flex flex-column">
					<div>
						<h5>Library</h5>
					</div>
					<select class="form-control custom-select" [(ngModel)]="library">
						<option [ngValue]=null>Any library</option>
						<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
					</select>
					<div class="row mt-lg-auto mt-3 mb-md-3 mb-0">
						<div class="col-6">
							<button (click)="filterLentBooks()"
								class="btn btn-primary btn-block">Filter</button>
						</div>
						<div class="col-6">
							<button (click)="resetFilter()" class="btn btn-danger btn-block">Reset
								filters</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="lentBooks==undefined || lentBooks.length==0">
	<h3>No results</h3>
</div>
<div *ngIf="lentBooks!=undefined && lentBooks.length>0">
	<app-book-user-profile-card [book]="lentBook.bookCopy.book"
		[lentBook]="lentBook" (deleteEvent)="onCancelBookLending(lentBook)"
		*ngFor="let lentBook of lentBooks; trackBy: trackByLentBook">
	<div class="d-flex h-100 align-items-center">
		<div class="col-12 text-right">
			<button class="btn btn-primary btn btn-block d-none d-md-block"
				style="pointer-events: none">{{bookLendingStatuses[lentBook.lendingStatus]}}</button>
			<button class="btn btn-primary btn-sm btn-block d-md-none"
				style="pointer-events: none">{{bookLendingStatuses[lentBook.lendingStatus]}}</button>
		</div>
	</div>
	</app-book-user-profile-card>
	<div class="mt-2 row justify-content-center">
		<ngb-pagination [collectionSize]=pagesCount [(page)]=pageNumber
			[pageSize]=pageSize (pageChange)="getCurrentUserLentBooks()"
			[boundaryLinks]="true"></ngb-pagination>
	</div>
</div>
