
<table class="table table-striped">
	<thead>
		<tr>
			<th>ISBN</th>
			<th>Book title</th>
			<th>Library address</th>
			<th>Request count</th>
			<th><div class="d-flex flex-column">
					<div class="row ml-auto">
						<span *ngFor="let pageSizeOption of pageSizeOptions">
							<button (click)="changePageSizeOption(pageSizeOption)"
								[class.btn-warning]="pageSizeOption == pageInformation.pageSize"
								[disabled]="pageSizeOption == pageInformation.pageSize"
								[class.btn-secondary]="pageSizeOption !== pageInformation.pageSize"
								class="btn mr-2">{{pageSizeOption}}</button>
						</span>
					</div>
				</div></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of waitList; trackBy: trackByWaitListItem"
			appHighlightElement>
			<td><a routerLink="/view-books/update-book/{{ item.book.isbn }}">{{
					item.book.isbn }}</a></td>
			<td>{{ item.book.bookTitle }}</td>
			<td *ngIf="item.library"><a
				routerLink="/view-libraries/update-library/{{ item.library.libraryId }}">{{
					item.library.address}}</a></td>
			<td *ngIf="!item.library">Any</td>
			<td>{{ item.waitListItemCount }}</td>
			<td></td>
		</tr>
		<tr *ngIf="!waitList || waitList.length === 0">
			<td colspan="5" class="text-center table-light h5">No results
				found</td>
		</tr>
	</tbody>
</table>
<div class="mt-2 row justify-content-center"
	*ngIf="waitList && waitList.length > 0">
	<ngb-pagination [collectionSize]=waitListItemCount
		[(page)]=pageInformation.pageNumber (pageChange)="getWaitList()"
		[pageSize]=pageInformation.pageSize [boundaryLinks]="true"></ngb-pagination>
</div>
