<div class="container-fluid">
	<div class="col-12">
		<div class="row col-xl-4 col-lg-6 col-md-8 col-sm-10 col-12 mb-2">
			<input id="typeahead-template" type="text" placeholder="Find book"
				class="form-control col-6 mr-2" [(ngModel)]="bookWaitListItem"
				(keyup.enter)="changeSearchPhrase($event)" [ngbTypeahead]="search"
				[resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter"
				[focusFirst]="false" (selectItem)="changeSearchPhrase($event)" />
		</div>
		<app-wait-list-table [waitList]="waitList"
			(getDataEvent)="getWaitList($event)"
			[waitListItemCount]="waitListItemCount"></app-wait-list-table>
	</div>
</div>