<div class="container">
	<div class="row">
		<div class="col">
			<div class="row">
				<h4 *ngIf="id">Update book</h4>
				<h4 *ngIf="!id">Add book</h4>
				<button type="button" class="btn btn-outline-primary ml-3 mb-2"
					(click)="isCollapsed = !isCollapsed"
					[attr.aria-expanded]="!isCollapsed">Book information</button>
			</div>
		</div>
	</div>
	<div [@smoothCollapse]="isCollapsed?'initial':'final'">
		<div class="card mb-5">
			<div class="column">
				<app-book-form [book]="book" [id]="id"
					(saveBookEvent)="saveBook($event)"
					(deleteBookEvent)="onDeleteBook($event)"></app-book-form>
			</div>
		</div>
	</div>
	<div *ngIf="id !== undefined">
		<h4 class="mb-3 mt-2">Manage book copies</h4>
		<div class="row">
			<hr>
			<div class="col">
				<div class="ml-2 mb-3 row">
					<div>
						Book count: <strong class="h4 mr-2">{{bookCount}}</strong>
					</div>
					<button type="button" class="btn ml-3"
						[ngClass]="isCollapsedAddBookCopy ? 'btn-secondary' : 'btn-danger'"
						(click)="changeBookCopyAddWindowCollapse()">Add copy</button>
					<button type="button" class="btn ml-2"
						[ngClass]="isCollapsedFilterBookCopies ? 'btn-secondary' : 'btn-danger'"
						(click)="changeBookCopyFilterWindowCollapse()">Filter</button>

				</div>

			</div>
		</div>
		<div [@smoothCollapse]="isCollapsedAddBookCopy?'initial':'final'">
			<div class="card col-xl-4 col-lg-4 col-md-5 col-sm-6 col-8">
				<h5 class="card-title ml-3 mt-2">Add book copy</h5>
				<div class="form-group col">
					<label for="libraryDropdown">Library</label> <select
						class="form-control" [(ngModel)]="library">
						<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
					</select>
				</div>
				<div class="form-group col-8">
					<label for="availableDropdown">Available</label>
					<button class="btn btn-block"
						[ngClass]="bookCopyAvailability ? 'btn-success' : 'btn-danger'"
						(click)="bookCopyAvailability=!bookCopyAvailability">{{bookAvailabilityMap[bookCopyAvailability]}}
					</button>
				</div>
				<div class="form-group col">
					<button (click)="addBookCopy()" class="btn btn-primary">Add
						copy</button>
				</div>
			</div>
		</div>
		<div [@smoothCollapse]="isCollapsedFilterBookCopies?'initial':'final'">
			<div class="card col-xl-4 col-lg-4 col-md-5 col-sm-6 col-8">
				<h5 class="card-title ml-3 mt-2 mb-2">Filter book copies</h5>
				<div class="form-group col">
					<label for="libraryDropdownFilter">Library</label> <select
						id="libraryDropdownFilter" class="form-control"
						[(ngModel)]="bookCopyFilterLibrary">
						<option [ngValue]=null>Any library</option>
						<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
					</select>
				</div>
				<div class="form-group col">
					<label for="availableDropdownFilter">Available</label> <select
						id="availableDropdownFilter" class="form-control"
						[(ngModel)]="bookCopyFilterAvailability">
						<option [ngValue]=null>Any</option>
						<option [ngValue]=item *ngFor="let item of bookAvailable">{{bookAvailabilityMap[item]}}</option>
					</select>
				</div>
				<div class="form-group col">
					<button (click)="getBookCopyData()" class="btn btn-danger">Filter</button>
					<button (click)="resetFilter()" class="btn btn-danger ml-2">Reset</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" *ngIf="id">
	<div class="col-12">
		<app-book-copy-table [bookCopies]="bookCopies" [libraries]="libraries"
			[bookPage]="true" (updateBookCopyEvent)="onUpdateBookCopy($event)"
			(deleteBookCopyEvent)="onDeleteBookCopy($event)"
			[bookCopyCount]="bookCopyCount"
			(getDataEvent)="getBookCopies($event)"></app-book-copy-table>
	</div>
</div>

