<div>
	<div class="mt-2 mb-2 row">
		<div class="col">
			<div class="float-right">
				<span *ngFor="let pageSizeOption of pageSizeOptions">
					<button (click)="changePageSizeOption(pageSizeOption)"
						[class.btn-warning]="pageSizeOption == pageSize"
						[disabled]="pageSizeOption == pageSize"
						[class.btn-secondary]="pageSizeOption !== pageSize"
						class="btn mr-2">{{pageSizeOption}}</button>
				</span>
			</div>
		</div>
	</div>
	<div *ngIf="notifications && notifications.length != 0">
		<a *ngFor="let notification of notifications; trackBy: trackByNotification" class="card mb-2">
			<div class="card-body bg-light" (click)="navigateToRoute(notification)"
				style="cursor: pointer">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">{{notification.timestamp
						| date:'medium'}}</div>
					<div class="col-xl-10 col-lg-10 col-md-9 col-sm-8 col-8">
						<p class="card-text">{{notification.message}}</p>
						<div class="row ml-1 mt-5"></div>
					</div>
				</div>
			</div>
		</a>
		<div class="mt-2 row justify-content-center">
			<ngb-pagination [collectionSize]=pagesCount [(page)]=pageNumber
				[pageSize]=pageSize (pageChange)="getCurrentUserLentBooks()"
				[boundaryLinks]="true"></ngb-pagination>
		</div>
	</div>
	<div *ngIf="!notifications || notifications.length == 0"
		class="mt-3 ml-2">
		<h3>No notifications</h3>
	</div>
</div>
