<div class="col-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Email</th>
				<th>Alias</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Birthday</th>
				<th style="width: 15%">
					<div class="float-right">
						<span *ngFor="let pageSizeOption of pageSizeOptions">
							<button (click)="changePageSizeOption(pageSizeOption)"
								[class.btn-warning]="pageSizeOption == pageInformation.pageSize"
								[disabled]="pageSizeOption == pageInformation.pageSize"
								[class.btn-secondary]="pageSizeOption !== pageInformation.pageSize"
								class="btn mr-2">{{pageSizeOption}}</button>
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users; trackBy: trackByUser"
				appHighlightElement>
				<td>{{ user.email }}</td>
				<td>{{ user.alias }}</td>
				<td>{{ user.firstName }}</td>
				<td>{{ user.lastName }}</td>
				<td>{{ user.birthday }}</td>
				<td><a routerLink="update-user/{{ user.userId }}"
					class="btn btn-primary mb-1">Update user</a></td>
			</tr>
			<tr *ngIf="!users || users.length === 0">
				<td colspan="6" class="text-center table-light h5">No results
					found</td>
			</tr>
		</tbody>
	</table>
	<div class="mt-2 row justify-content-center" *ngIf="users && users.length > 0">
		<ngb-pagination [collectionSize]=userCount
			[(page)]=pageInformation.pageNumber
			[pageSize]=pageInformation.pageSize (pageChange)="getUsers()"
			[boundaryLinks]="true"></ngb-pagination>
	</div>
</div>