<div class="mt-2">
	<div class="float-right">
		<span *ngFor="let pageSizeOption of pageSizeOptions">
			<button (click)="changePageSizeOption(pageSizeOption)"
				[class.btn-warning]="pageSizeOption == pageSize"
				[disabled]="pageSizeOption == pageSize"
				[class.btn-secondary]="pageSizeOption !== pageSize" class="btn mr-2">{{pageSizeOption}}</button>
		</span>
	</div>
	<div class="row mb-2">
		<div class="mr-2 col-xl-4  col-lg-4 col-md-5 col-sm-12 col-12">
			<input id="typeahead-template" type="text" placeholder="Find book"
				class="form-control" [(ngModel)]="bookModel" (keyup.enter)="filterWaitListUniqueBooks($event)"
				[ngbTypeahead]="searchBookWaitList" [resultFormatter]="resultFormatter"
				[inputFormatter]="inputFormatter" [focusFirst]="false"
				(selectItem)="filterWaitListUniqueBooks($event)" />
		</div>
		<div ngbDropdown
			class="col-xl-4  col-lg-4 col-md-5 col-sm-12 col-12 mb-1">
			<select class="form-control custom-select" [(ngModel)]="library"
				(change)="getData()">
				<option [ngValue]=null>Any library</option>
				<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
			</select>
		</div>
	</div>
</div>
<div *ngIf="waitList==undefined || waitList.length==0">
	<h3>No results</h3>
</div>
<div *ngIf="waitList!=undefined && waitList.length>0">
	<app-book-user-profile-card [book]="waitListItem.book"
		(deleteEvent)="deleteFromWaitList(waitListItem.waitListId)"
		*ngFor="let waitListItem of waitList; trackBy: trackByWaitListItem">
	<div class="d-flex h-100 align-items-center">
		<p class="col-12 text-right">
			<strong class="h3 d-none d-lg-block">{{waitListItem.library
				? waitListItem.library.address : 'Any library'}}</strong> <strong
				class="h6 d-lg-none">{{waitListItem.library ?
				waitListItem.library.address : 'Any library'}}</strong>
		</p>
	</div>
	</app-book-user-profile-card>
	<div class="mt-2 row justify-content-center">
		<ngb-pagination [collectionSize]=waitListCount [(page)]=pageNumber
			[pageSize]=pageSize (pageChange)="getUserWaitList()"
			[boundaryLinks]="true"></ngb-pagination>
	</div>
</div>
