<div class="card mb-2">
	<div class="card-body bg-light">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-3">
				<div *ngIf="!book.imageUrl">No image available</div>
				<div *ngIf="book.imageUrl">
					<img src={{book.imageUrl}} alt={{book.bookTitle}}
						class="img-fluid">
				</div>
			</div>
			<div class="col-lg-8 col-md-6 col-sm-5 col-5">
				<h5 class="card-title d-none d-md-block">{{book.bookTitle}}</h5>
				<h6 class="card-title d-md-none">{{book.bookTitle}}</h6>
				<h6 class="card-subtitle mb-2 text-muted">{{ book.bookAuthor }}</h6>
				<p class="card-text" *ngIf="!lentBook">{{book.publicationYear}}</p>
				<p class="card-text" *ngIf="lentBook">{{lentBook.fromDate
					|dateString|date:'longDate'}} - <br class="d-md-none">{{lentBook.toDate
					|dateString|date:'longDate'}}</p>
				<div class="row mt-5 d-none d-md-flex">
					<div class="col-lg-3 col-md-5 col-sm-5 col-12">
						<button class="btn btn-info btn-block"
							routerLink="/view-ratings/book/{{ book.isbn }}">View
							book</button>
					</div>
					<div class="col-lg-3 col-md-5 col-sm-5 col-12">
						<button (click)="deleteItem()" *ngIf="!lentBook"
							class="btn btn-danger btn-block">Delete</button>
						<button (click)="deleteItem()"
							*ngIf="lentBook && lentBook.lendingStatus=='BOOK_RESERVED'"
							class="btn btn-danger btn-block">Cancel</button>
					</div>

				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-4 col-4">
				<ng-content></ng-content>
			</div>
		</div>
		<div class="offset-3 col d-md-none">
			<div class="row">
				<button class="btn btn-info btn-sm col-3 mr-2 ml-1"
					routerLink="/view-ratings/book/{{ book.isbn }}">View book</button>
				<button (click)="deleteItem()" *ngIf="!lentBook"
					class="btn btn-danger btn-sm col-3">Delete</button>
				<button (click)="deleteItem()"
					*ngIf="lentBook && lentBook.lendingStatus=='BOOK_RESERVED'"
					class="btn btn-danger btn-sm col-3">Cancel</button>
			</div>
		</div>
	</div>
</div>