<div class="container">
	<div class="row">
		<div class="column col-xl-5 col-lg-5 col-md-6 col-sm-8 col-xs-8">
			<div *ngIf="loggedIn==true && rating" class="col-8 mb-3">
				<ngb-rating [(rate)]="rating.rating" (rateChange)="changeRating()">
				<ng-template let-fill="fill" let-index="index"> <span
					class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
				</ng-template> </ngb-rating>
				<hr>
				<div *ngIf="rating?.rating == 0">You have not rated this book
					yet</div>
				<div *ngIf="rating.rating != 0">
					Your rating: <b>{{rating.rating}}</b>
				</div>
			</div>
			<div class="col-10" *ngIf="book">
				<h4>{{book.bookTitle}}</h4>
				<h6 class="text-secondary">{{book.bookAuthor}}</h6>
				<p class="mb-3">{{book.publisher}}, {{book.publicationYear}}</p>
				<button class="btn btn-info mb-3" (click)="openComments()">View
					discussion</button>
				<div class="mb-4">
					Rating: <strong>{{(totalRating | async) ?
						(totalRating | async | number:'1.1-2') : 'No ratings'}}</strong>
					<p>
						<ngb-progressbar type="success" [value]="totalRating | async" max=10></ngb-progressbar>
					</p>
				</div>
				<div>
					<h6>Ratings by age:</h6>
				</div>
				<div>
					Age under 25: <strong>{{(ratingUnder25 | async) ?
						(ratingUnder25 | async |number:'1.1-2') : 'No ratings'}}</strong>
					<p>
						<ngb-progressbar type="info" [value]="ratingUnder25 | async" max=10></ngb-progressbar>
					</p>
				</div>
				<div>
					Age 25 to 50: <strong>{{(rating25To50 | async) ?
						(rating25To50 | async |number:'1.1-2') : 'No ratings'}}</strong>
					<p>
						<ngb-progressbar type="info" [value]="rating25To50 | async" max=10></ngb-progressbar>
					</p>
				</div>
				<div>
					Age over 50: <strong>{{(ratingOver50 | async) ?
						(ratingOver50 | async |number:'1.1-2') : 'No ratings'}}</strong>
					<p>
						<ngb-progressbar type="info" [value]="ratingOver50 | async" max=10></ngb-progressbar>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-7 col-lg-6 col-md-7 col-sm-8 col-xs-8">
			<div class="col-xl-4 col-lg-5 col-md-5 col-7">
				<div>
					<h5>Select library</h5>
				</div>
				<div ngbDropdown>
					<select class="form-control" [(ngModel)]="library"
						(change)="getBookCopies()"
						[compareWith]="getLibraryService().compareLibraries">
						<option [ngValue]=null>Any library</option>
						<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
					</select>
				</div>
			</div>
			<div class="mt-2" *ngIf="book">
				<div class="col-xl-4 col-lg-5 col-md-5 col-7"
					*ngIf="bookCopies!=undefined && bookCopies.length>0 && book.available == true">
					<div>
						<h5>Select Book</h5>
					</div>
					<select [(ngModel)]="bookCopy" (change)="getBookReservedDays()" class="form-control">
						<option [ngValue]=bookCopy *ngFor="let bookCopy of bookCopies">ID: {{bookCopy.bookId}}</option>
					</select>
				</div>
				<hr>
				<div
					*ngIf="!bookCopies || bookCopies.length==0 || book.available==false">
					<div *ngIf="!loggedIn">
						<h4>No books are currently available.</h4>
						<h4>Log in to get notified when book becomes available</h4>
					</div>
					<div *ngIf="loggedIn">
						<div>
							<h4 *ngIf="!bookCopies || bookCopies.length==0">No
								books are currently available.</h4>
							<div *ngIf="bookWaitListItem==null">
								<h4
									*ngIf="bookCopies!=undefined && bookCopies.length!=0 && book.available==false">All
									book copies are fully reserved.</h4>
								<h4>
									Notify me when book becomes available <span
										*ngIf="library?.libraryId">at {{library.address}}</span>
								</h4>

								<button (click)="addToWaitList()"
									class="btn btn-primary btn-block col-3">Notify</button>
							</div>
							<div *ngIf="bookWaitListItem!=null">
								<h4>
									You will be notified when book becomes available <span
										*ngIf="bookWaitListItem.library?.libraryId">at {{library.address}}</span>
								</h4>
								<button (click)="deleteFromWaitList()"
									class="btn btn-primary btn-block col-3">Cancel
									notification</button>
							</div>
						</div>
					</div>
				</div>
				<div
					*ngIf="!loggedIn && book.available == true && bookCopies!=undefined && bookCopies.length!=0">
					<h3>Log in to reserve book</h3>
				</div>
				<div
					*ngIf="loggedIn && bookCopies!=undefined && bookCopies.length!=0 && book.available==true">
					<app-lending-date-picker (addLentBookEvent)="addLentBook($event)" [reservedDates] = "bookReservedDates" [maxLendingPeriod] = "maxLendingPeriod"></app-lending-date-picker>
				</div>

			</div>
		</div>
	</div>
</div>
