::ng-deep .nav-pills .nav-link.active, 
::ng-deep .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #6c757d;
    border-style: inset;
}

::ng-deep .nav-pills .nav-link, 
::ng-deep .nav-pills .show > .nav-link {
	background-color: #e4e4e4;
	color: #6c757d;
	border-width: 1px;
    min-width: 130px;
    border-radius: 0px;
    border-style: outset;
}