<div class="container">
	<ngb-tabset justify="justified" type="pills" #tabs
		(tabChange)="configureTabs($event.nextId)"> <ngb-tab
		id='account'> <ng-template ngbTabTitle>
	Account </ng-template> </ngb-tab> <ngb-tab id='ratings'> <ng-template ngbTabTitle>
	Ratings </ng-template> </ngb-tab> <ngb-tab id='lendings'> <ng-template ngbTabTitle>
	Lendings </ng-template> </ngb-tab> <ngb-tab id='notifications'> <ng-template
		ngbTabTitle> Notifications </ng-template></ngb-tab> <ngb-tab id='wait-list'>
	<ng-template ngbTabTitle> Wait list </ng-template> </ngb-tab> </ngb-tabset>
	<router-outlet></router-outlet>
</div>