<div class="container-fluid">
	<div class="col-12">
		<p>
			<button type="button" class="btn btn-outline-primary"
				(click)="isCollapsed = !isCollapsed">
				Filters
				<fa-icon [icon]="faCaretDown"></fa-icon>
			</button>
		</p>
		<div [@smoothCollapse]="{value: (isCollapsed ? 'initial' : 'final'), params: {overflow: 'visible'}}">
			<div class="card col-xl-9 col-lg-11 col-md-12 col-sm-8 mb-2">
				<div class="card-body">
					<div class="row">
						<div class="col-md col-sm-12 mr-lg-4 mr-0">
							<div>
								<h5>Search books</h5>
							</div>
							<div class="mb-2">
								<input id="typeahead-template" type="text"
									placeholder="Find book" class="form-control" (input)="changeBookSearchPhrase($event)"
									[(ngModel)]="bookModel" [ngbTypeahead]="searchBook"
									[resultFormatter]="bookResultFormatter"
									[inputFormatter]="bookInputFormatter" [focusFirst]="false"
									(selectItem)="changeBookSearchPhrase($event)" />
							</div>
							<div>
								<h5>Search users</h5>
							</div>
							<div>
								<input id="typeahead-template" type="text"
									placeholder="Find user" class="form-control"
									[(ngModel)]="userModel" [ngbTypeahead]="searchUser"
									[resultFormatter]="userResultFormatter" (input)="changeUserSearchPhrase($event)"
									[inputFormatter]="userInputFormatter" [focusFirst]="false"
									(selectItem)="changeUserSearchPhrase($event)" />
							</div>
						</div>
						<div class="col-md col-sm-12 mr-lg-4 mr-0">
							<div>
								<h5>Start date</h5>
								<div class="form-group mb-2">
									<div class="input-group">
										<input class="form-control" placeholder="dd/mm/yyyy" name="dp"
											[(ngModel)]="fromDate" ngbDatepicker #dp="ngbDatepicker">
										<div class="input-group-append">
											<button #buttonEl class="btn btn-outline-secondary calendar"
												(click)="dp.toggle()" type="button"></button>
										</div>
									</div>
								</div>
							</div>
							<div>
								<h5>End date</h5>
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" placeholder="dd/mm/yyyy" name="d"
											[(ngModel)]="toDate" ngbDatepicker #d="ngbDatepicker">
										<div class="input-group-append">
											<button #buttonEl class="btn btn-outline-secondary calendar"
												(click)="d.toggle()" type="button"></button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-md col-sm-12">
							<div>
								<h5>Lending status</h5>
							</div>
							<select class="form-control custom-select mb-2"
								[(ngModel)]="lendingStatus">
								<option [ngValue]=null>Any</option>
								<option [ngValue]=item *ngFor="let item of lendingStatuses">{{bookLendingStatuses[item]}}</option>
							</select> <label for="libraryDropdown" class="h5 text-center">Library</label>
							<select class="form-control custom-select" [(ngModel)]="library">
								<option [ngValue]=null>Any library</option>
								<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
							</select>
							<div class="row mt-3">
								<div class="col">
									<button (click)="filterLentBooks()"
										class="btn btn-primary btn-block">Filter</button>
								</div>
								<div class="col">
									<button (click)="resetFilters()" class="btn btn-danger btn-block">Reset</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<app-lending-history-table [lentBooks]="lentBooks"
			(updateLendingEvent)="onUpdateLendingStatus($event)"
			(cancelLendingEvent)="onCancelBookLending($event)"
			[lentBookCount]="lentBookCount" (getDataEvent)="getLentBooks($event)"></app-lending-history-table>
	</div>
</div>
