<button type="button" [tabIndex]="-1"
	class="btn btn-outline-danger validation-error-popover"
	*ngIf="condition" [@smoothEnter] placement="top"
	triggers="mouseenter:mouseleave" [ngbPopover]="content">
	<fa-icon [icon]="faExclamation"></fa-icon>
</button>
<ng-template #content> <ng-content></ng-content></ng-template>