.validation-error-popover {
	right: 15px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: white;
	position: absolute;
	display: flex;
}

.validation-error-popover:not(:disabled):not(.disabled):hover  {
	background-color: #dc3545;
}