<div class="container">
	<ngb-tabset justify="justified" type="pills" #tabs
		(tabChange)="configureTabs($event.nextId)"> <ngb-tab
		id='all'> <ng-template ngbTabTitle> All books
	</ng-template> <ng-template ngbTabContent>
	<div class="row mt-2 mb-3">
		<div class="col">
			<button type="button" class="btn btn-outline-primary"
				(click)="isCollapsed = !isCollapsed">
				Filters
				<fa-icon [icon]="faCaretDown"></fa-icon>
			</button>
		</div>
		<div class="ml-auto mr-2">
			<div clas="row">
				<span *ngFor="let pageSizeOption of pageSizeOptions">
					<button (click)="changePageSizeOption(pageSizeOption)"
						[class.btn-warning]="pageSizeOption == pageSize"
						[disabled]="pageSizeOption == pageSize"
						[class.btn-secondary]="pageSizeOption !== pageSize"
						class="btn mr-2">{{pageSizeOption}}</button>
				</span>
			</div>
		</div>
	</div>
	<div
		[@smoothCollapse]="{value: (isCollapsed ? 'initial' : 'final'), params: {overflow: 'visible'}}">
		<div class="card col-lg-8 col-sm-10 mb-2">
			<div class="card-body">
				<div class="row">
					<div class="col-md mr-sm-4 mr-0">
						<div>
							<h5>Filter ratings</h5>
						</div>
						<select class="form-control custom-select mb-2"
							[(ngModel)]="selectedValue" (change)="changeAgeFilter(item)">
							<option [ngValue]=item.key
								*ngFor="let item of ageData | keyvalue">{{ageData[item.key].name}}</option>
						</select>
						<div>
							<h5>Minimum rating</h5>
						</div>
						<select class="form-control custom-select mb-2"
							[(ngModel)]="minimumRating">
							<option [ngValue]=null>Any</option>
							<option [ngValue]=item *ngFor="let item of ratingData">{{item}}</option>
						</select>
					</div>
					<div class="col-md">
						<div>
							<h5>Filter books</h5>
						</div>
						<div class="mb-2">
							<input id="typeahead-template" type="text"
								placeholder="Find book" class="form-control"
								(input)="changeSearchPhrase($event)" [(ngModel)]="bookModel"
								[ngbTypeahead]="search" [resultFormatter]="resultFormatter"
								[inputFormatter]="inputFormatter" [focusFirst]="false"
								(selectItem)="changeSearchPhrase($event)" />
						</div>
						<div>
							<h5>Library</h5>
						</div>
						<select class="form-control custom-select" [(ngModel)]="library"
							[compareWith]="getLibraryService().compareLibraries">
							<option [ngValue]=null>Any library</option>
							<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
						</select>
						<div class="row mt-2">
							<div class="col">
								<button (click)="getBooks()" class="btn btn-primary btn-block">Filter</button>
							</div>
							<div class="col">
								<button (click)="resetFilters()"
									class="btn btn-danger btn-block">Reset</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</ng-template> </ngb-tab> <ngb-tab id='top'> <ng-template ngbTabTitle>
	Top books </ng-template> <ng-template ngbTabContent>
	<div class="row mt-2 mb-3">
		<div class="col-lg-4 col-sm-6 col-7">
			<select class="form-control custom-select" [(ngModel)]="library"
				[compareWith]="getLibraryService().compareLibraries">
				<option [ngValue]=null>Any library</option>
				<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
			</select>
		</div>
		<div class="ml-auto mr-2">
			<div clas="row">
				<span *ngFor="let pageSizeOption of pageSizeOptions">
					<button (click)="changePageSizeOption(pageSizeOption)"
						[class.btn-warning]="pageSizeOption == pageSize"
						[disabled]="pageSizeOption == pageSize"
						[class.btn-secondary]="pageSizeOption !== pageSize"
						class="btn mr-2">{{pageSizeOption}}</button>
				</span>
			</div>
		</div>
	</div>
	</ng-template> </ngb-tab> <ngb-tab id='recommended' *ngIf="loggedIn==true"> <ng-template
		ngbTabTitle> Recommendations </ng-template> <ng-template ngbTabContent>
	<div class="row mt-2 mb-3">
		<div class="col">
			<button type="button" class="btn btn-outline-primary"
				(click)="isCollapsed = !isCollapsed">
				Filters
				<fa-icon [icon]="faCaretDown"></fa-icon>
			</button>
		</div>
		<div class="ml-auto mr-2">
			<div clas="row">
				<span *ngFor="let pageSizeOption of pageSizeOptions">
					<button (click)="changePageSizeOption(pageSizeOption)"
						[class.btn-warning]="pageSizeOption == pageSize"
						[disabled]="pageSizeOption == pageSize"
						[class.btn-secondary]="pageSizeOption !== pageSize"
						class="btn mr-2">{{pageSizeOption}}</button>
				</span>
			</div>
		</div>
	</div>
	<div [@smoothCollapse]="isCollapsed?'initial':'final'">
		<div class="card col-xl-5 col-lg-6 col-sm-8 mb-2">
			<div class="card-body">
				<div class="col">
					<div>
						<h5>Filter ratings</h5>
					</div>
					<select class="form-control custom-select mb-2"
						[(ngModel)]="minimumRating">
						<option [ngValue]=null>Any</option>
						<option [ngValue]=item *ngFor="let item of ratingData">{{item}}</option>
					</select>

					<div>
						<h5>Library</h5>
					</div>
					<select class="form-control custom-select" [(ngModel)]="library"
						[compareWith]="getLibraryService().compareLibraries">
						<option [ngValue]=null>Any library</option>
						<option [ngValue]=library *ngFor="let library of libraries">{{library.address}}</option>
					</select>
					<div class="row mt-3">
						<div class="col">
							<button (click)="getBooks()" class="btn btn-primary btn-block">Filter</button>
						</div>
						<div class="col">
							<button (click)="resetFilters()" class="btn btn-danger btn-block">Reset</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</ng-template> </ngb-tab> </ngb-tabset>
	<div>
		<app-book-information-card [book]=book
			*ngFor="let book of books; trackBy: trackByBook"></app-book-information-card>
	</div>
	<div *ngIf="!books || books.length == 0">
		<h3 *ngIf="selectedTab=='recommended'">Rate more books to get
			recommendations</h3>
		<h3 *ngIf="selectedTab!='recommended'">No books found</h3>
	</div>
	<div *ngIf="books && books.length > 0 && selectedTab!='top'"
		class="mt-2 row justify-content-center">
		<ngb-pagination [collectionSize]=pagesCount [(page)]=pageNumber
			[pageSize]=pageSize (pageChange)="getRatings()"
			[boundaryLinks]="true"></ngb-pagination>
	</div>
</div>


