<form [formGroup]="bookForm" class="mt-2" (ngSubmit)="saveBook()">
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1"
		*ngIf="id==undefined">
		<label for="isbn">ISBN</label>
		<div class="row">
			<div class="col-12">
				<input id="isbn" formControlName="isbn" class="form-control"
					[@validForm]="isbn?.invalid ? ((isbn?.dirty || isbn?.touched) ? 'invalid' : 'notTouched' ) : 'valid'" />
			</div>
			<app-input-validation-error
				[condition]="isbn?.invalid && (isbn?.dirty || isbn?.touched)">
			<div *ngIf="isbn.errors?.required">ISBN is required</div>
			<div *ngIf="isbn.errors?.isbnTaken">ISBN already taken.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="bookTitle">Book title</label>
		<div class="row">
			<div class="col-12">
				<input id="bookTitle" formControlName="bookTitle"
					[@validForm]="bookTitle?.invalid ? ((bookTitle?.dirty || bookTitle?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="bookTitle?.invalid && (bookTitle?.dirty || bookTitle?.touched)">
			<div *ngIf="bookTitle.errors?.required">Book title is required</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="bookAuthor">Book author</label>
		<div class="row">
			<div class="col-12">
				<input id="bookAuthor" formControlName="bookAuthor"
					[@validForm]="bookAuthor?.invalid ? ((bookAuthor?.dirty || bookAuthor?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="bookAuthor?.invalid && (bookAuthor?.dirty || bookAuthor?.touched)">
			<div *ngIf="bookAuthor.errors?.required">Book author is required</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="publicationYear">Year of publication</label>
		<div class="row">
			<div class="col-12">
				<input id="publicationYear" formControlName="publicationYear"
					[@validForm]="publicationYear?.invalid ? ((publicationYear?.dirty || publicationYear?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="publicationYear?.invalid && (publicationYear?.dirty || publicationYear?.touched)">
			<div *ngIf="publicationYear.errors?.required">Year of publication is required</div>
			<div *ngIf="publicationYear.errors?.pattern">Must be a number.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="publisher">Publisher</label>
		<div class="row">
			<div class="col-12">
				<input id="publisher" formControlName="publisher"
					[@validForm]="publisher?.invalid ? ((publisher?.dirty || publisher?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="publisher?.invalid && (publisher?.dirty || publisher?.touched)">
			<div *ngIf="publisher.errors?.required">Publisher is required</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="imageUrl">Image URL</label>
		<div class="row">
			<div class="col-12">
				<input id="publisher" formControlName="imageUrl"
					[@validForm]="imageUrl?.invalid ? ((imageUrl?.dirty || imageUrl?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="imageUrl?.invalid && (imageUrl?.dirty || imageUrl?.touched)">
			<div *ngIf="imageUrl.errors?.required">Publisher is required</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<div class="row">
			<div class="col">
				<button type="submit" class="btn btn-primary mr-2"
					[disabled]="bookForm.invalid">Save book</button>
				<button (click)="deleteBook()" class="btn btn-danger" type="button"
					*ngIf="id">Delete book</button>
			</div>
		</div>
	</div>
</form>