.rating-card {
	top: -10px;
	position: absolute;
	display: flex;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	border: inset;
	border-radius: 5px;
	border-width: 2px;
}

.rating-card-big {
	right: 130px;
}

.rating-card-small {
	right: 80px;
}

.star-rating {
	font-size: 60px;
}

.star-rating-text {
	font-size: 30px;
	right: 10px;
	top: 28px;
	position: absolute;
	width: 50px;
}

.star-rating-text-container {
	position: relative;
	text-align: center;
}