<div class="mt-2">
	<div class="float-right">
		<span *ngFor="let pageSizeOption of pageSizeOptions">
			<button (click)="changePageSizeOption(pageSizeOption)"
				[class.btn-warning]="pageSizeOption == pageSize"
				[disabled]="pageSizeOption == pageSize"
				[class.btn-secondary]="pageSizeOption !== pageSize" class="btn mr-2">{{pageSizeOption}}</button>
		</span>
	</div>
	<div class="row col-xl-4 col-lg-4 col-md-5 col-sm-6 col-7 mb-2">
		<div class="mr-2 mb-1">
			<input id="typeahead-template" type="text" placeholder="Find book"
				class="form-control" [(ngModel)]="bookModel"
				(keyup.enter)="filterBooks($event)"
				[ngbTypeahead]="searchUserRatings"
				[resultFormatter]="resultFormatter"
				[inputFormatter]="inputFormatter" [focusFirst]="false"
				(selectItem)="filterBooks($event)" />
		</div>
	</div>
</div>
<div *ngIf="books==undefined || books.length==0">
	<h3>No results</h3>
</div>
<div *ngIf="books!=undefined && books.length>0">
	<app-book-user-profile-card [book]="book.book"
		(deleteEvent)="deleteRating(book.ratingId)"
		*ngFor="let book of books trackBy: trackByBook">
	<div class="row h-100 align-items-center">
		<div class="d-flex flex-column col-12">
			<div class="row ml-auto mr-lg-5 mr-1">
				<div (mouseenter)="mouseEnter(book)" (mouseleave)="mouseLeave(book)"
					(mouseover)="mouseHovering(book)" (mouseout)="mouseOut(book)">
					<fa-icon [icon]="faStar" class="text-warning star-rating mb-2" style="cursor: pointer"></fa-icon>
				</div>
				<div class="star-rating-text-container"
					(mouseenter)="mouseEnter(book)" (mouseover)="mouseHovering(book)"
					(mouseout)="mouseOut(book)">
					<strong class="star-rating-text" style="cursor: pointer">{{book.rating}}</strong>
				</div>
			</div>
		</div>
		<div class="star-rating-text-container"
			(mouseover)="mouseHovering(book)"
			(mouseleave)="mouseLeave(book)" (mouseout)="mouseOut(book)">
			<div class="rating-card rating-card-big d-none d-md-block" *ngIf="book.open" [@smoothEnter]>
				<ngb-rating [(rate)]="book.rating" (rateChange)="updateRating(book)">
				<ng-template let-fill="fill" let-index="index"> <span
					class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span></ng-template>
				</ngb-rating>
			</div>
			<div class="rating-card rating-card-small d-md-none" *ngIf="book.open" [@smoothEnter]>
				<ngb-rating [(rate)]="book.rating" (rateChange)="updateRating(book)">
				<ng-template let-fill="fill" let-index="index"> <span
					class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span></ng-template>
				</ngb-rating>
			</div>
		</div>
	</div>
	</app-book-user-profile-card>
	<div class="mt-2 row justify-content-center">
		<ngb-pagination [collectionSize]=pagesCount [(page)]=pageNumber
			[pageSize]=pageSize (pageChange)="getCurrentUserRatings()"
			[boundaryLinks]="true"></ngb-pagination>
	</div>
</div>
