<div class="tree-view">
	<ul *ngIf="bookComments?.length" style="list-style: none;">
		<li
			*ngFor="let bookComment of bookComments | slice:0:commentsLoaded; trackBy: trackByComment">
			<app-book-comment [bookComment]="bookComment" [key]="key"
				[book]="book"
				(deleteCommentRatingEvent)="forwardDeleteCommentRatingEvent($event)"
				(updateCommentRatingEvent)="forwardUpdateCommentRatingEvent($event)"
				[isAdmin]="isAdmin" [currentUser]="currentUser"
				[isRootComment]="isRootComment"
				(updateCommentEvent)="updateComment($event)"
				(addCommentEvent)="addComment($event)"> </app-book-comment>
		</li>
		<button *ngIf="bookComments.length>commentsLoaded"
			class="btn btn-link custom-btn-link"
			(click)="commentsLoaded=commentsLoaded+childCommentsAdded">Load
			more</button>
	</ul>
</div>
