<div class="container-fluid">
	<div class="col-12">
		<div class="row">
			<div class="col-2">
				<a routerLink="add-library" class="btn btn-primary mb-2"
					*roles="['role_admin']; loggedIn: null">Add library</a>
			</div>
		</div>
		<app-library-table [libraries]="libraries" [libraryCount]="libraryCount"
		(getDataEvent)="getLibraries($event)"></app-library-table>
	</div>
</div>