<div class="modal-container">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Book
				"{{book.bookTitle}}" discussion</h4>
			<button (click)="getBookComments()"
				class="btn btn-link custom-btn-link ml-2">Refresh</button>
		</div>
		<div class="modal-body" #modalbody (scroll)="onScroll()">
			<div *ngIf="currentUser">Write a comment</div>
			<div *ngIf="!currentUser">Log in to comment</div>
			<textarea class="form-control mb-2" rows="5" [(ngModel)]="comment"
				maxLength="1000" [disabled]="!currentUser"></textarea>
			<button (click)="addComment()" [disabled]="!comment"
				class="btn btn-info">Post</button>
			<hr>
			<h6 *ngIf="bookComments?.length==0">No comments yet.</h6>
			<app-tree-view (updateCommentEvent)="updateComment($event)"
				(addCommentEvent)="addComment($event)" [isAdmin]="isAdmin"
				(deleteCommentRatingEvent)="onDeleteCommentRating($event)"
				(updateCommentRatingEvent)="onUpdateCommentRating($event)"
				[currentUser]="currentUser" [isRootComment]="true"
				[data]="bookComments" [key]="key" [book]="book"
				[commentsLoaded]="parentCommentsLoaded"
				*ngIf="bookComments?.length > 0"></app-tree-view>
		</div>
	</div>
</div>