<div class="card comment-card mb-1"
	[ngClass]="isRootComment ? 'comment-card-parent' : 'comment-card-child'">
	<div class="card-header comment-card-header" style="cursor: pointer"
		(click)="collapsed=!collapsed">
		<div class="card-title row ml-2 mt-1">
			<div class="col-4">
				<strong>{{bookComment.user ? bookComment.user.alias :
					'[deleted]'}}</strong>
			</div>
			<div class="col d-none d-md-block">{{bookComment.timestamp | date:'medium'}}</div>
			<div class="col d-md-none">{{bookComment.timestamp | date:'short'}}</div>
			<div class="col text-right"
				*ngIf="bookComment.edited || bookComment.deleted">{{bookComment.deleted
				? 'Deleted' : 'Edited'}}</div>
		</div>
	</div>
	<div [@smoothCollapse]="collapsed ? 'initial':'final'">
		<div class="row">
			<div class="col-lg-1 col-2 text-center mt-3 comment-card-section">
					<div>
						<fa-icon [icon]="faChevronUp" style="cursor: pointer"
							[ngClass]="userRating && userRating.rating === 1 ? 'text-primary' : ''"
							(click)="userRating && userRating.rating === 1 ? deleteCommentRating(userRating.id) : onAddCommentRating(1)"></fa-icon>
					</div>
					<div>{{ratingTotal ? ratingTotal : 0}}</div>
					<div>
						<fa-icon [icon]="faChevronDown" style="cursor: pointer"
							[ngClass]="userRating && userRating.rating === -1 ? 'text-danger' : ''"
							(click)="userRating && userRating.rating === -1 ? deleteCommentRating(userRating.id) : onAddCommentRating(-1)"></fa-icon>
					</div>
			</div>
			<div class="col comment-card-section">
				<div class="card-body mb-auto ml-2">{{bookComment.comment}}</div>
				<div class="card-footer comment-card-footer bg-transparent">
					<div
						[@smoothCollapse]="!replyFieldOpen && !editFieldOpen ? 'initial':'final'">
						<div *ngIf="replyFieldOpen || editFieldOpen">
							<textarea class="form-control mb-2" rows="4" maxlength="1000"
								[(ngModel)]="newComment"></textarea>
							<div class="row ml-1 mb-1">
								<button (click)="addChildComment()" *ngIf="replyFieldOpen"
									[disabled]="!newComment" class="btn btn-secondary">Post</button>
								<button (click)="editComment()" *ngIf="editFieldOpen"
									[disabled]="!newComment" class="btn btn-secondary">Edit</button>
								<button (click)="closeTextField()"
									*ngIf="replyFieldOpen || editFieldOpen"
									class="btn btn-link custom-btn-link ml-2">Close</button>
							</div>
						</div>
					</div>
					<div *ngIf="!replyFieldOpen && !editFieldOpen && !!currentUser">
						<button (click)="replyFieldOpen = !replyFieldOpen"
							class="btn btn-link custom-btn-link">Reply</button>
						<ng-container
							*ngIf="!bookComment.deleted && (currentUser==bookComment.user?.userId || isAdmin)">
						<button (click)="editFieldOpen = !editFieldOpen"
							class="btn btn-link custom-btn-link">Edit</button>
						<button (click)="deleteComment(bookComment,i)"
							class="btn btn-link custom-btn-link">Delete</button>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
		<app-tree-view *ngIf="bookComment[key]?.length" [key]="key"
			(updateCommentEvent)="updateComment($event)" [isAdmin]="isAdmin"
			[currentUser]="currentUser" (addCommentEvent)="addComment($event)"
			(deleteCommentRatingEvent)="forwardDeleteCommentRatingEvent($event)"
			(updateCommentRatingEvent)="forwardUpdateCommentRatingEvent($event)"
			[commentsLoaded]="childCommentsLoaded" [data]="bookComment[key]"
			[book]="book"></app-tree-view>
	</div>
</div>