<div class="container">
	<div class="col">
		<div class="row">
			<h4 *ngIf="id">Update library</h4>
			<h4 *ngIf="!id">Add library</h4>
			<button type="button" class="btn btn-outline-primary ml-3 mb-2"
				(click)="isCollapsed = !isCollapsed"
				[attr.aria-expanded]="!isCollapsed">
				Library information
				<fa-icon [icon]="faCaretDown"></fa-icon>
			</button>
		</div>
	</div>
	<div [@smoothCollapse]="isCollapsed?'initial':'final'">
		<div class="card mb-2">
			<app-library-form [isAdmin]="isAdmin" [id]="id" [library]="library"
				(saveLibraryEvent)="saveLibrary($event)"
				(deleteLibraryEvent)="onDeleteLibrary($event)"></app-library-form>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-12" *ngIf="id != undefined">
		<app-book-copy-table [bookCopies]="bookCopies" [libraries]="libraries"
			(updateBookCopyEvent)="onUpdateBookCopy($event)"
			(deleteBookCopyEvent)="onDeleteBookCopy($event)"
			[bookCopyCount]="bookCopyCount"
			(getDataEvent)="getBookCopies($event)"></app-book-copy-table>
	</div>
</div>
