<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Address</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Opening time</th>
			<th>Closing time</th>
			<th>
				<div class="float-right mb-1">
					<span *ngFor="let pageSizeOption of pageSizeOptions">
						<button (click)="changePageSizeOption(pageSizeOption)"
							[class.btn-warning]="pageSizeOption == pageInformation.pageSize"
							[disabled]="pageSizeOption == pageInformation.pageSize"
							[class.btn-secondary]="pageSizeOption !== pageInformation.pageSize"
							class="btn mr-2">{{pageSizeOption}}</button>
					</span>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let library of libraries; trackBy: trackByLibrary"
			appHighlightElement>
			<td>{{ library.libraryId }}</td>
			<td>{{ library.address }}</td>
			<td>{{ library.latitude }}</td>
			<td>{{ library.longitude }}</td>
			<td>{{ library.openingTime | slice:0:5 }}</td>
			<td>{{ library.closingTime | slice:0:5 }}</td>
			<td><a routerLink="update-library/{{ library.libraryId }}"
				class="btn btn-primary mb-1">Update library</a></td>
		</tr>
		<tr *ngIf="!libraries || libraries.length === 0">
			<td colspan="7" class="text-center table-light h5">No results found</td>
		</tr>
	</tbody>
</table>
<div class="mt-2 row justify-content-center" *ngIf="libraries && libraries.length > 0">
	<ngb-pagination [collectionSize]=libraryCount
		[(page)]=pageInformation.pageNumber (pageChange)="getLibraries()"
		[pageSize]=pageInformation.pageSize [boundaryLinks]="true"></ngb-pagination>
</div>
