<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="currentPassword">Current password</label>
		<div class="row">
			<div class="col-12">
				<input id="currentPassword" formControlName="currentPassword"
					[@validForm]="currentPassword?.invalid ? ((currentPassword?.dirty || currentPassword?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="currentPassword?.invalid && (currentPassword?.dirty || currentPassword?.touched)">
			<div *ngIf="currentPassword.errors?.required">Current password
				is required.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="password">New password</label>
		<div class="row">
			<div class="col-12">
				<input id="password" formControlName="password"
					[@validForm]="password?.invalid ? ((password?.dirty || password?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="password?.invalid && (password?.dirty || password?.touched)">
			<div *ngIf="password.errors?.required">New password is
				required.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div
		class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<label for="confirmPassword">New password</label>
		<div class="row">
			<div class="col-12">
				<input id="confirmPassword" formControlName="confirmPassword"
					[@validForm]="confirmPassword?.invalid || passwordForm.errors?.invalid ? ((confirmPassword?.dirty || confirmPassword?.touched) ? 'invalid' : 'notTouched' ) : 'valid'"
					class="form-control" />
			</div>
			<app-input-validation-error
				[condition]="(confirmPassword?.invalid || (!confirmPassword?.invalid && passwordForm.errors?.invalid)) && (confirmPassword?.dirty || confirmPassword?.touched)">
			<div
				*ngIf="!confirmPassword?.invalid && passwordForm.errors?.invalid">Passwords
				must match.</div>
			<div *ngIf="confirmPassword.errors?.required">Password is
				required.</div>
			</app-input-validation-error>
		</div>
	</div>
	<div class="form-group col-xl-6 col-lg-6 col-md-8 col-sm-8 col-10 offset-lg-3 offset-sm-2 offset-1">
		<button type="submit" class="btn btn-primary"
			[disabled]="passwordForm.invalid">Change password</button>
	</div>
</form>