<div class="container">
  <div *ngFor="let library of libraries" class="mb-5">
    <h3 class="mb-3">{{library.address}}</h3>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-8 col-xml-10 col-12">
        <agm-map [latitude]="library.latitude"
                 [longitude]="library.longitude" [zoom]=17>
          <agm-marker
            [latitude]="library.latitude" [longitude]="library.longitude"></agm-marker>
        </agm-map>
      </div>
      <div class="col-6">
        <h4>Open: {{library.openingTime |
          slice:0:-3}}-{{library.closingTime | slice:0:-3}}</h4>
      </div>
    </div>
  </div>
</div>
